<div class="card">
    <div class="card-body">
       <h1>About</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quae obcaecati veritatis ab, eum vero eveniet vel aliquid rem placeat. Voluptatem quia illo nam, ipsa saepe dignissimos fugiat sapiente tempore debitis vel architecto, officia cum dicta adipisci incidunt aliquam harum?</p>
    </div>
</div>